[submodule "library/zf2"]
	path = library/ZendFramework
	url = https://github.com/zendframework/zf2.git
[submodule "modules/SpiffyDoctrine"]
	path = modules/SpiffyDoctrine
	url = https://SpiffyJr@github.com/SpiffyJr/SpiffyDoctrine.git
