<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
#    RewriteBase /zf2-quiz/public
#    RewriteBase /programista/quiz/public
</IfModule>

<IfModule mod_rewrite.c>

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(j|js|ico|gif|jpg|png|css)$ index.php [NC,L]

	#RewriteCond %{REQUEST_FILENAME} -s [OR]
	#RewriteCond %{REQUEST_FILENAME} -l [OR]
	#RewriteCond %{REQUEST_FILENAME} -d
	#RewriteRule ^.*$ - [NC,L]
	#RewriteRule ^.*$ index.php [NC,L]
</IfModule>