html, body {
    font-family: "Myriad Pro", Arial, Helvetica;
    font-size: 18px;
    color: #123367;
}

p {
    margin-bottom: 1em;
    font-weight: lighter;
    text-align: justify;
}
strong {font-weight: bold;}
.header p {font-size: 15px; font-weight: normal; margin-bottom: .5em}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.c {text-align: center;}
.uc {text-transform: uppercase;}

.hr {
    background: transparent url("../images/bg-separator.png") top center no-repeat;
    clear: both;
    height: 60px;

    margin-left: -55px;
    margin-right: -50px;
}
.hide {display: none;}

.btn-start {
    background: transparent url("../images/btn-start.png") 0 0 no-repeat;
    height: 100px;
    width: 340px;
    display: block;
    overflow: hidden;
    text-indent: -200em;
    /*margin: 0 auto;*/
}
.btn-start.blure {
    background-image: url("../images/btn-start-blure.png");
}
.btn-start-again {
    background: transparent url("../images/btn-start-again.png") 0 0 no-repeat;
    height: 37px;
    width: 340px;
    display: block;
    overflow: hidden;
    text-indent: -200em;
    /*margin: 0 auto;*/
}

#container {
    width: 520px;
    margin: 0 auto;
    background-color: #ced228;
    background-image: url("../images/bg-main-content.png");
    background-position: 50% 50%;
    background-repeat: repeat-y;
}

#header {
    height:76px;

    background-image: url("../images/bg-main-top.png");
    background-position: top center;
    background-repeat: no-repeat;
}
#main {
    min-height: 300px;
    padding: 20px 90px 5px;
    position: relative;
}

#wrapper {
    background-image: url("../images/bg-main-content.png");
    background-position: 50% 76px;
    background-repeat: repeat-y;
    position: relative;
}

#footer {
    background-image: url("../images/bg-foot.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 200px;
}

.fl {float: left;}
.fr {float: right;}

.question {
    margin-top: 10px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    display: none;
}
.question-number
{
    background: transparent url("../images/bg-question-no.png") 0 0 no-repeat;
    width: 154px;
    height: 50px;
    margin-left: 23px;
}
.question-number span {
    padding-left: 15px;
}

.question-time
{
    background: transparent url("../images/bg-question-time.png") 0 0 no-repeat;
    width: 139px;
    height: 50px;
    margin-right: 23px;
}
.question-time span {
    padding-left: 55px;
}

#question {
    min-height: 120px;
    font-size: 22px;
}

.answers {
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border-top: 2px solid #7084a3;
}
.answers li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    line-height: 30px;
    cursor: pointer;
}

.answers li span {
    display: block;
    position: absolute;
    top:0; left: 0;
    width: 20px;
    height: 20px;
    background: transparent url("../images/bg-answer-sprite.png") -5px 0  no-repeat;
}

.answers li:hover span {
    background-position: -38px 0;

}

a[onclick] {
    text-decoration: underline;
    cursor: pointer !important;
}

#loader {
    display: none;
    width: 32px;
    height: 32px;

    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 9999;

    background: transparent url("../images/indicator_blue_large.gif") 0 0 no-repeat;
}

#messager {
    color: #d29e11;
    display: block;
    width: 340px;
    min-height: 32px;

    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -32px;
}

.results_list {
    display: block;
    overflow: auto;
    max-height: 300px;
}
.results_list li
{
    border-bottom: 1px solid #7084a3;
    margin-bottom: 10px;
    position: relative;
    line-height: 55px;
    height: 55px;
    clear: both;
}
.results_list li img {
    float: left;
    width: 50px;
    display: block;
    margin-right: 10px;
}
.results_list li span.name {
    float: left;
    display: block;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 220px;
    top: 0;
    right: 60;
    left:60px;
}
.results_list li span.points {
    font-weight: bold;
    float: right;
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}


#start_again {
    display: none;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #7084a3;
}

#fb_like_button {
    margin-left: 30px;
    margin-top: 10px;
    line-height: 50px;
    padding-left: 10px;
    width: 90px;
    /*height: 50px;*/
    /*overflow: hidden;*/
    background: transparent url("../images/bg-like.png") 0 0 no-repeat;
}

#awards {
    background: transparent url("../images/bg-awards.png") 50% 50% no-repeat;
    width: 421px;
    height: 334px;
    margin-left: -50px;
}

.show-awards-messege {
    display: block;
    height: 40px;
    line-height: 40px;

    margin-top: 10px;
    margin-bottom: 10px;
    color: #98a420;
    font-weight: bold;
    cursor: pointer !important;
}

.fb_dialog_content iframe { height:537px !important; }

#results {margin-bottom: 10px;}

.extra_small {font-size: 14px; line-height: 1em;}